h3{
    color: indigo;
    text-align: center;
}
body{
    color: #2C4843;
    /* background-color: rgba(233, 48, 48, 0.336); */
    background-image: url(undraw_Online_re_x00h.svg);
    background-repeat: no-repeat;
    background-color: #7383A8;
}