@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root{
    --primary-color: #7c3aed;
}


h3{
    color: indigo;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    
}
body{
    color: #2C4843;
    /* background-color: rgba(233, 48, 48, 0.336); */
    /* background-image: url(undraw_Online_re_x00h.svg); */
    background-repeat: no-repeat;
    background-color: #7383A8;
    background-size: contain;
    text-align: center;
}

ul{
    color: thistle;
    list-style-type: none;
}

#Abc{
    color: lawngreen;
}

.Class-practice{
    color: lightcoral;
}

.Padding-practice{
    color: magenta;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.link{
    padding: 0.5rem 1rem;
    text-decoration: none;
}

.Link1{
    background-color: var(--primary-color);
    color: whitesmoke;
    border-radius: 00.5rem; 
}

.Link2{
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
}

.Nobulet{
    list-style: none;
}